* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../public/images/background.jpg);
  background-position: center;
}

.main--container {
  margin: auto;
  border: 5px solid #a626d3;
  background-color: #d5d4d8;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  height: 65px;
  color: white;
  padding: 15px 20px;
  gap: 5px;
}

.header--logo {
  width: 35px;
  height: 28px;
}

.header--title {
  font-size: 22px;
  letter-spacing: -0.1em;
  margin-right: auto;
}

.header--desc {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.form--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px;
}

.form--input {
  display: flex;
  gap: 20px;
}

.form--input input {
  width: 230px;
  height: 35px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  width: 477px;
  height: 40px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  border: none;
}

.meme {
  position: relative;
  overflow: hidden;
}

.meme--image {
  max-width: 500px;
  max-height: 500px;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
